<ion-content [fullscreen]="true">
<div id="container">
  <ion-item>
<ion-img src="assets/main/feng37_feng2025.png" alt="鋒兄三七 二零二五 資訊管理系統 定於一尊"></ion-img>
  </ion-item>
<ion-list>
  @for (item of list0000; track item.id) {
    <ion-item>
      <ion-button fill="clear">
        <ion-img
          [src]="item.img"
          [alt]="item.alt"
          class="uniform-img"
        >
        </ion-img>
      </ion-button>
    </ion-item>
  }
</ion-list>
  <ion-item>
<ion-img src="assets/main/TSAO_PAO_FENG_HSIUNG.png" alt="草包鋒兄" class="uniform-img"></ion-img>
  </ion-item>
</div>
</ion-content>
